.categories-page {
    min-height: calc(100vh - 120px); /* Adjust based on your header/footer */
}

@media (min-width: 768px) {
    .categories-page {
        padding: 2rem 5%;
    }
}
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #F5F5F5;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #CBD8E8;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ADC6E5;
  }