<div class="max-w-7xl mx-auto p-4 md:p-8">
  <h2 class="text-2xl font-bold text-[#1E0f75] mb-6">Panel de Control</h2>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <!-- Vista Usuarios -->
    <div class="bg-white rounded-xl shadow-sm p-6 border border-[#F4F4F4] hover:shadow-md transition-shadow">
      <h3 class="text-lg font-semibold text-[#1E0f75] mb-4">Gestión de Usuarios</h3>
      <app-vista-usuarios></app-vista-usuarios>
    </div>

    <!-- Vista Reviews -->
    <div class="bg-white rounded-xl shadow-sm p-6 border border-[#F4F4F4] hover:shadow-md transition-shadow">
      <h3 class="text-lg font-semibold text-[#1E0f75] mb-4">Reseñas</h3>
      <app-vista-reviews></app-vista-reviews>
    </div>

    <!-- Vista Listas -->
    <div class="bg-white rounded-xl shadow-sm p-6 border border-[#F4F4F4] hover:shadow-md transition-shadow">
      <h3 class="text-lg font-semibold text-[#1E0f75] mb-4">Listas de Lectura</h3>
      <app-vista-listas></app-vista-listas>
    </div>

    <!-- Vista Progresos -->
    <div class="bg-white rounded-xl shadow-sm p-6 border border-[#F4F4F4] hover:shadow-md transition-shadow">
      <h3 class="text-lg font-semibold text-[#1E0f75] mb-4">Progresos</h3>
      <app-vista-progresos></app-vista-progresos>
    </div>

    <!-- Vista Reportes -->
    <div class="bg-white rounded-xl shadow-sm p-6 border border-[#F4F4F4] hover:shadow-md transition-shadow">
      <h3 class="text-lg font-semibold text-[#1E0f75] mb-4">Reportes</h3>
      <app-vista-reportes></app-vista-reportes>
    </div>

     <!-- Vista Libros -->
     <div class="bg-white rounded-xl shadow-sm p-6 border border-[#F4F4F4] hover:shadow-md transition-shadow">
        <h3 class="text-lg font-semibold text-[#1E0f75] mb-4">Libros</h3>
        <app-vista-libros></app-vista-libros>
      </div>
       <!-- Vista Categorias -->
      <div class="bg-white rounded-xl shadow-sm p-6 border border-[#F4F4F4] hover:shadow-md transition-shadow">
         <h3 class="text-lg font-semibold text-[#1E0f75] mb-4">Categorias</h3>
         <app-vista-categorias></app-vista-categorias>
       </div>
        <!-- Vista Categorias -->
        <div class="bg-white rounded-xl shadow-sm p-6 border border-[#F4F4F4] hover:shadow-md transition-shadow">
            <h3 class="text-lg font-semibold text-[#1E0f75] mb-4">Carrito</h3>
            <app-vista-carrito></app-vista-carrito>
        </div>
  </div>
</div>