<div class="category-container">
    <button type="button" 
            class="category-button" 
            [class.active]="selectedCategory === 'all'"
            (click)="selectCategory('all')">
        All
    </button>
    <button type="button" 
            *ngFor="let category of categories" 
            class="category-button"
            [class.active]="selectedCategory === category.id"
            (click)="selectCategory(category.id)">
        {{ category.nombre }}
    </button>
</div>