<a
  class="group flex items-center p-2 rounded-lg transition-all duration-300 cursor-pointer"
  [routerLink]="route"
  [ngClass]="{
    'bg-blue-100 text-primary font-semibold': isActiveRoute(),
    'hover:bg-blue-200 hover:text-primary-light text-gray-darker': !isActiveRoute()
  }"
>
  <!-- CUADRADO DEL ICONO -->
  <div
    class="flex items-center justify-center w-10 h-10 rounded-md bg-gray-50 shadow transition-all duration-300"
    [ngClass]="{
      'bg-primary text-blue-400': isActiveRoute(),
      'group-hover:bg-primary-light group-hover:text-blue-400': !isActiveRoute()
    }"
  >
    <span
      class="material-symbols-outlined text-2xl transition-all duration-300"
      style="font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;"
    >
      {{ icon }}
    </span>
  </div>

  <!-- TEXTO -->
  <span class="ml-4 text-sm">{{ label }}</span>
</a>
