<div class="flex flex-col h-screen bg-lightest w-32 p-2 shadow-sm">
  <!-- Logo -->
  <div class="flex items-center mb-4">
    <img src="assets/logo/logo.png" alt="Logo" class="h-8 w-8 mr-2">
    <h1 class="text-primary text-sm font-bold sm:block hidden">BookWave</h1>
  </div>

  <!-- Menú -->
  <nav class="flex flex-col space-y-1">
    <app-sidebar-link icon="home" label="Home" route="/"></app-sidebar-link>
    <app-sidebar-link icon="category" label="Categorías" route="/categories"></app-sidebar-link>
    <app-sidebar-link icon="menu_book" label="Mi Libros" route="/library"></app-sidebar-link>
    <app-sidebar-link icon="favorite" label="Favoritos" route="/favorites"></app-sidebar-link>
  </nav>

  <!-- Configuración -->
  <div class="mt-auto pt-4 border-t border-gray">
    <app-sidebar-link icon="person" label="Perfil" route="/settings"></app-sidebar-link>
    <app-sidebar-link icon="settings" label="Configuración" route="/settings"></app-sidebar-link>
    <app-sidebar-link icon="help" label="Ayuda" route="/help"></app-sidebar-link>
    <app-sidebar-link icon="logout" label="Cerrar sesión" route="/logout"></app-sidebar-link>
  </div>

</div>