<div class="flex flex-col h-screen bg-lightest w-64 p-6 border-r border-gray">
    <!-- Logo -->
    <div class="flex items-center mb-10">
      <img src="assets/logo/logo.png" alt="Logo" class="h-10 w-10 mr-2">
      <h1 class="text-primary text-lg font-bold">BookWave</h1>
    </div>
  
    <!-- Menú -->
    <nav class="flex flex-col space-y-4">
      <app-sidebar-link icon="home" label="Descubrir" route="/discover"></app-sidebar-link>
      <app-sidebar-link icon="category" label="Categorías" route="/categories"></app-sidebar-link>
      <app-sidebar-link icon="menu_book" label="Mi Biblioteca" route="/library"></app-sidebar-link>
      <app-sidebar-link icon="download" label="Descargas" route="/downloads"></app-sidebar-link>
      <app-sidebar-link icon="favorite" label="Favoritos" route="/favorites"></app-sidebar-link>
    </nav>
  
    <!-- Configuración -->
    <div class="mt-auto pt-10 border-t border-gray">
      <app-sidebar-link icon="settings" label="Configuración" route="/settings"></app-sidebar-link>
      <app-sidebar-link icon="help" label="Ayuda" route="/help"></app-sidebar-link>
      <app-sidebar-link icon="logout" label="Cerrar sesión" route="/logout"></app-sidebar-link>
    </div>
  </div>
  